.sobre__titulo{
  color: #8D0606;
  font-family: Pacifico, cursive;
}

@media screen and (min-width : 0) {
  .sobre__titulo{
    font-size: 1.8em;
  }
}

@media screen and (min-width : 768px) {
  .sobre__titulo{
    font-size: 2.3em;
  }
}